/* Center the game on screen */
body {
  background-color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

#score-container {
  display: flex;
  justify-content: left;
  margin-bottom: 20px;
}

#game {
  border: 2px solid white;
}

/* Canvas styling */
canvas {
  background: #222;
  border: 2px solid #444;
}